@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .title{
        font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.065em;
    padding-top: 20px;
    }
} 

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container {
        width: 281px;
    }
} 

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container_max-w {
        width: 281px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .logo a {   
        font-size: 8px;
        line-height: 8px;
       
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .custom-logo {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .menu__list {
        padding: 0px;
        display: flex;
        align-items: center
    }
} 

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .menu__item a {
        font-size: 10px;
        font-weight: 400;
        padding: 0 10px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .phone__item span {
        display: none;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .phone__item a {
    font-weight: 400;
    font-size: 8px;
    }
} 


@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .social {
        display: none;
    }
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__title {
        font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 20px 0 8px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__subtitle {
        margin: 0 0 15px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__button {
        width: 58px;
        height: 14px;
        border-radius: 5px;
}
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__start {
        width: 58px;
        height: 14px;
        border-radius: 5px;
}
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__link {
        font-size: 10px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__column img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        /* margin-left: 187px; */
        }
} 


@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__slider {
        display: none;
}
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container-noAdd {
        display: none;
        
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .triggers__text {
        padding-bottom: 20px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .triggers__native {
        flex-direction: column;
        padding-bottom: 30px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .triggers__native-item-title {
        font-weight: 900;   
    font-size: 15px;
    line-height: 16px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .triggers__native-item-subtitle{
        font-weight: 500;   
    font-size: 12px;
    line-height: 12px;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container_max-contacts {
        display: none;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container_max-about {
        display: none;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .container-w-bckgr {
        display: none;
    }
} 
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__about-info {
        width: 30%; 
    }
}
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
    .music__about-text{
        
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        padding-top: 5px;
        text-align: justify;
        letter-spacing: 0;
        
    }
    }
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        .contacts__column-image {
            display: none;
        }
    } 
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        .footer__copyright {
            margin-right: 5px;
        }
    } 
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        .privacy {
            font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: 400;
            
        }
    } 
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        .footer__copyright-link {
            font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: 400;
            
        }
    } 
    
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) {
        .footer__contacts-link span {
            display: none;
        }
    } 